DATABASE_HOST=localhost
DATABASE_NAME=ong
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=3306
DATABASE_DIALECT=mysql

TEST_DATABASE_HOST=localhost
TEST_DATABASE_NAME=ong_test
TEST_DATABASE_USER=
TEST_DATABASE_PASSWORD=
TEST_DATABASE_PORT=3306
TEST_DATABASE_DIALECT=mysql

FRONTEND_URL=http://localhost:3000
JWT_SECRET=SECRET_KEY

ORGANIZATION_ID=1